/*-- scss:defaults --*/
$primary: #4169E1 !default;
$headings-font-family:  'equity_caps_a_tab', Constantia,'Palatino Linotype',Palatino,serif;
$mainfont: 'equity_text_a', 'Times', 'Times New Roman', Palatino, 'Palatino Linotype', serif;
$headings-font-weight:  400 !default;
/*-- scss:rules --*/
