body {
  background-color: white;
  font-feature-settings: 'ss02', 'ss01';
  font-variant-numeric: tabular-nums;
}
.quarto-title-banner .quarto-title .title {color:#eee; font-size: 36.3pt}
.quarto-title-banner .quarto-title .subtitle {color:#eee; font-size: 27pt}

sub { font-variant-position: sub; }
sup { font-variant-position: super;
  font-variant-alternates: normal;}

div.cell-output pre {background-color: #ccc; border-radius: 0.25rem; padding: 0.125em 0.25em;}

div.no-row-height.column-margin.column-container div.cell-output-display table caption {text-align: left; font-size: 12pt; line-height: 1.35em; grid-column: body-end/page/end !important; z-index: 998;color: #626262;}

.wrap-collapsible {
  margin-bottom: 1em;
  padding: 0em 0em;
  margin-top: -2em;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: normal;
  font-size: 1.0rem;
  text-align: center;

  padding: 3px 0px;

  color: #222;
  background: #eeeeee;

  cursor: pointer;
  width: 100%;

  border-radius: 5px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #4169e1;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
  background-color: #eeeeee;
  width: 100%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 11350px;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {

  width: 100%;
  background-color: #eeeeee;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.page-columns.page-full p {
  line-height: 1.35em;
  text-align: justify;
  vertical-align: baseline;
  text-justify: inter-character;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
     -webkit-hyphenate-limit-before: 3;
     -webkit-hyphenate-limit-after: 3;
     -webkit-hyphenate-limit-chars: 6 3 3;
     -webkit-hyphenate-limit-lines: 2;
     -webkit-hyphenate-limit-last: always;
     -webkit-hyphenate-limit-zone: 8%;
     -moz-hyphens: auto;
     -moz-hyphenate-limit-chars: 6 3 3;
     -moz-hyphenate-limit-lines: 2;
     -moz-hyphenate-limit-last: always;
     -moz-hyphenate-limit-zone: 8%;
     -ms-hyphens: auto;
     -ms-hyphenate-limit-chars: 6 3 3;
     -ms-hyphenate-limit-lines: 2;
     -ms-hyphenate-limit-last: always;
     -ms-hyphenate-limit-zone: 8%;
     hyphens: auto;
     hyphenate-limit-chars: 6 3 3;
     hyphenate-limit-lines: 2;
     hyphenate-limit-last: always;
     hyphenate-limit-zone: 8%;}
     
     
.page-columns.page-full p.csl-entry, .tippy-content {
  line-height: 1.35em;
  text-align: left;
  vertical-align: baseline;
  text-justify: none;
  overflow-wrap: none;
  word-wrap: none;
  hyphens: none;
}

.katex {font-size: 1em;}

.katex-display {font-size: 1.1em;}


.defword {
  color: #4169E1;
}


div.no-row-height.column-margin.column-container {
  font-size: 12pt;
  line-height: 1.35em;
}

.column-margin figcaption, .margin-caption {
  font-size: 12pt;
  line-height: 1.35em;
}

.moveup100 {margin-top: -100px}
.moveup200 {margin-top: -200px}
.moveup300 {margin-top: -300px}
.moveup400 {margin-top: -400px}
.moveup500 {margin-top: -500px}
.moveup600 {margin-top: -600px}